<div class="container-fluid warpper">
  <div class="row">
    <div class="col-6 cols b-style">
      <h1>Create Owner</h1>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img class="profile-pic" src="/assets/images/profile-image.jpg" alt="">
            <button mat-button color="primary">Upload</button>
          </div>
          <div class="col-8">
            <button mat-button class="search-ride" [disabled]="!id" (click)="addVehicle()" color="primary">Add
              Driver</button>
          </div>
          <div class="col-6">
            <label for="uName">User Name</label>
            <input type="text" id="uName" name="userName">
          </div>
          <div class="col-6"><label for="mobileNumber">Mobile Number</label>
            <input type="tel" id="mobileNumber" name="mobileNumber"></div>
          <div class="col-6"> <label for="email">Email ID</label>
            <input type="email" id="email" name="email"></div>
          <div class="col-6">
            <label for="gender">Gender</label>
            <select id="gender">
              <option disabled>-</option>
              <option value="men">Men</option>
              <option value="saab">Women</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="col-6">
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob">
          </div>
          <div class="col-6">
            <label for="address">Address Line</label>
            <input type="text" id="address" name="address">
          </div>
          <div class="col-6">
            <label for="city">City</label>
            <select id="city">
              <option disabled>-</option>
              <option value="chennai">Chennai</option>
              <option value="sdas">Kanchepuram</option>
              <option value="marthandam">Marthandam</option>
            </select>
          </div>
          <div class="col-6">
            <label for="state">State</label>
            <select id="state">
              <option disabled>-</option>
              <option value="tn">Tamilnadu</option>
              <option value="kl">Kerala</option>
              <option value="un">Maharastra</option>
            </select>
          </div>
          <div class="col-6">
            <label for="district">District</label>
            <select id="district">
              <option disabled>-</option>
              <option value="tn">Tamilnadu</option>
              <option value="kl">Kerala</option>
              <option value="un">Maharastra</option>
            </select>
          </div>
          <div class="col-6">
            <label for="pincode">Pincode</label>
            <input type="number" name="pincode" id="pincode">
          </div>
        </div>
        <div class="row mt-20">
          <div class="col-5">
            <p>File name 0001</p>
          </div>
          <div class="col-3"> <button class="m-auto" type="file" mat-button>Upload Documents</button>
          </div>

        </div>
        <div class="row footer-data">
          <button *ngIf="id" class="delete" mat-button>Delete</button>
          <button class="submit" mat-button>{{id?'Update':'Create'}}</button>
          <button *ngIf="id" class="block" mat-button>Block</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <app-vehicle-list *ngIf="id"></app-vehicle-list>
      <div class="greet" *ngIf="!id">
        You can add terms and conditions here or any greetings here
      </div>
    </div>
  </div>
</div>