h1 {
  text-align: center;
  margin: 8px;
  color: #3a3aa0;
}

input,
select {
  width: 100%;
  padding: 10px 15px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

select>option {
  padding: 5px 0;
}

label {
  width: 100%;
  display: block;
  margin: 10px 0 0 0;
}
button{
    width: 100%;
    color: #fff;
    background: green;
    margin: 20px 0;
}