<div class="container-fluid">
<div class="cell">
    <label for="source">Source</label>
    <input type="text" id="source" name="source">
</div>
<div class="cell">
    <label for="destination">Destination</label>
    <input type="text" id="destination" name="destination">
</div>
<div class="row">
    <div class="col-6">
        <label for="type">Vehicle Type</label>
        <select id="type">
            <option disabled>-</option>
            <option value="Lux">Lux</option>
            <option value="Mini">Mini</option>
            <option value="Prime">Prime</option>
            <option value="SUV">SUV</option>
        </select>
    </div>
    <div class="col-6">
        <label for="type">Vehicle Mode</label>
        <select id="type">
            <option disabled>-</option>
            <option value="AC">AC</option>
            <option value="N-AC">N-AC</option>
        </select>
    </div>
</div>
<button mat-button>Search</button>
</div>