<div class="container-fluid">
    <h1>Add New Sub Admin</h1>
    <div class="row">
        <div class="col-3">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="col-3">
            <label for="mobile">Mobile Number</label>
            <input type="tel" id="mobile" name="mobile">
        </div>
        <div class="col-3">
            <label for="uName">User Name</label>
            <input type="text" id="uName" name="uName">
        </div>
        <div class="col-3">
            <label for="email">Email ID</label>
            <input type="email" id="email" name="email">
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label for="address">Address (Line 1)</label>
            <textarea id="address"></textarea>
        </div>
        <div class="col-5">
            <label for="address">Address (Line 2)</label>
            <textarea id="address"></textarea>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-3">
            <label for="address2">Address (Permenant)</label>
            <textarea id="address2"></textarea>
        </div> -->
        <div class="col-3">
            <label for="city">City</label>
            <select id="city">
                <option disabled>-</option>
                <option value="chennai">Chennai</option>
                <option value="sdas">Kanchepuram</option>
                <option value="marthandam">Marthandam</option>
            </select>
        </div>
        <div class="col-3">
            <label for="state">State</label>
            <select id="state">
                <option disabled>-</option>
                <option value="tn">Tamilnadu</option>
                <option value="kl">Kerala</option>
                <option value="un">Maharastra</option>
            </select>
        </div>
        <div class="col-3">
            <label for="district">District</label>
            <select id="district">
                <option disabled>-</option>
                <option value="tn">Tamilnadu</option>
                <option value="kl">Kerala</option>
                <option value="un">Maharastra</option>
            </select>
        </div>
        <div class="col-3">
            <label for="pincode">Pincode</label>
            <input type="number" name="pincode" id="pincode">
        </div>
    </div>
  
    <div class="row">
        <div class="col-12 t-a-c">
            <button class="identy-proof">Upload ID Proof</button>
            <button class="submit" mat-button>Submit</button>
        </div>
    </div>
</div>