<div class="tool-bar">
  <!-- <button mat-icon-button>
    <mat-icon>dehaze</mat-icon>
  </button> -->
  <div class="nav-buttons">
    <button mat-button routerLink="/layout/dashboard" routerLinkActive="active-route">Dashboard</button>
    <button mat-button routerLink="/layout/owners" routerLinkActive="active-route">Owners</button>
    <button mat-button routerLink="/layout/users" routerLinkActive="active-route">Users</button>
    <button mat-button routerLink="/layout/drivers" routerLinkActive="active-route">Drivers</button>
  </div>
  <div class="right-item">
    <button (click)="openNotification()" mat-button> Notification (5)</button>
    <div style="display: inline-block;" (click)="gotoProfile()"> <img src="/assets/images/profile-image.jpg" alt="">
      <p>Peter John</p>
    </div>
    <button routerLink="/auth" mat-button>Logout</button>
  </div>
</div>