.tool-bar {
  height: 50px;
  background: #e6e6f9;
  color: #595763;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right-item {
    p {
      display: inline-block;
    }

    img {
      height: 30px;
      width: 30px;
      vertical-align: middle;
      margin-right: 12px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
    button {
      margin: 0 10px;
    }
  }
  .nav-buttons {
    color: #595763;
  }
}
.active-route {
  color: blue;
}

.baldge {
  position: absolute;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  // transform: scale(0.6);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  height: 20px;
  width: 20px;
  font-size: 10px;
  line-height: 2.3;
  color: #fff;
}
.baldge-red {
  background: red;
}
.baldge-blue {
  background: blue;
}
