<div class="container">
    <header>
        <button mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div><span>Ride ID</span> #23123213</div>
        <div><span>Assigned by</span> Mac laurence</div>
    </header>

    <div class="card top-10">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <p>Driver Name</p>
                    </div>
                    <div class="col-6">
                        <p> Ananda Sayanan</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <p>Phone</p>
                    </div>
                    <div class="col-6">
                        <p>+91 865 5432 232</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  top-10">
        <div class="col-6">
            <div class="card">
                <img src="assets/images/odometer.webp" alt="">
                <div class="row">
                    <div class="col-6">
                        <p>Start KM</p>
                    </div>
                    <div class="col-6">
                        <p>11,2000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Start Date</p>
                    </div>
                    <div class="col-6">
                        <p>August 11 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Start Time</p>
                    </div>
                    <div class="col-6">
                        <p>12:20 PM</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="card">
                <img src="assets/images/odometer.webp" alt="">
                <div class="row">
                    <div class="col-6">
                        <p>End KM</p>
                    </div>
                    <div class="col-6">
                        <p>11,2340</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>End Date</p>
                    </div>
                    <div class="col-6">
                        <p>August 11 2020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>End Time</p>
                    </div>
                    <div class="col-6">
                        <p>12:20 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card top-10">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <p>Total Kms</p>
                    </div>
                    <div class="col-6">
                        <p>350 Kms</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>waiting</p>
                    </div>
                    <div class="col-6">
                        <p>35 minutes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Tarrif</p>
                    </div>
                    <div class="col-6">
                        <p>AC</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <p>Trip Price</p>
                    </div>
                    <div class="col-6">
                        <p>₹ 12,000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>waiting Amount</p>
                    </div>
                    <div class="col-6">
                        <p>₹ 100</p>
                    </div>
                </div>
                <div class="row price">
                    <div class="col-6">
                        <p>Total Price</p>
                    </div>
                    <div class="col-6">
                        <p>₹ 12,100</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="map" mat-button>View On Map</button>
    </div>
</div>