<div class="container-fluid warpper">
  <div class="row custom-row">
    <div class="col-7 cols b-style">
      <h1 *ngIf="!id">Create User</h1>
      <div *ngIf="id" class="ride-details">
        <p><span>133</span> Total Ride</p>
        <p class="can"><span>10</span> Cancelled Ride</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <img class="profile-pic" src="/assets/images/profile-image.jpg" alt="">
            <button mat-button color="primary">Upload</button>
          </div>
          <div class="col-6">
            <button mat-button (click)="showDrivers=true" class="search-ride" color="primary">Search Ride</button>
          </div>
          <div class="col-6">
            <label for="uName">User Name</label>
            <input type="text" id="uName" name="userName">
          </div>
          <div class="col-6"><label for="mobileNumber">Mobile Number</label>
            <input type="tel" id="mobileNumber" name="mobileNumber"></div>
          <div class="col-6">
            <label for="source">Source</label>
            <input type="text" id="source" name="source">
          </div>
          <div class="col-6">
            <label for="destination">Destination</label>
            <input type="text" id="destination" name="destination">
          </div>
          <div class="col-6"> <label for="email">Email ID</label>
            <input type="email" id="email" name="email"></div>
          <div class="col-6">
            <label for="gender">Gender</label>
            <select id="gender">
              <option disabled>-</option>
              <option value="men">Men</option>
              <option value="saab">Women</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="col-6">
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob">
          </div>
          <div class="col-6">
            <label for="address">Address Line</label>
            <input type="text" id="address" name="address">
          </div>
          <div class="col-6">
            <label for="city">City</label>
            <select id="city">
              <option disabled>-</option>
              <option value="chennai">Chennai</option>
              <option value="sdas">Kanchepuram</option>
              <option value="marthandam">Marthandam</option>
            </select>
          </div>
          <div class="col-6">
            <label for="state">State</label>
            <select id="state">
              <option disabled>-</option>
              <option value="tn">Tamilnadu</option>
              <option value="kl">Kerala</option>
              <option value="un">Maharastra</option>
            </select>
          </div>
          <div class="col-6">
            <label for="district">District</label>
            <select id="district">
              <option disabled>-</option>
              <option value="tn">Tamilnadu</option>
              <option value="kl">Kerala</option>
              <option value="un">Maharastra</option>
            </select>
          </div>
          <div class="col-6">
            <label for="pincode">Pincode</label>
            <input type="number" name="pincode" id="pincode">
          </div>
        </div>
        <div class="row footer-data">
          <button *ngIf="id" class="delete" mat-button>Delete</button>
          <button class="submit" mat-button>{{id?'Update':'Create'}}</button>
          <button *ngIf="id" class="block" mat-button>Block</button>
        </div>
      </div>

    </div>
    <div class="col-5 non-forms cols">
      <ng-container *ngIf="id; else newUser">
        <h1 *ngIf="!showDrivers">Ride History
        </h1>
        <h1 *ngIf="showDrivers">
          <button mat-icon-button (click)="showDrivers=false">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
          Available Drivers
        </h1>
        <app-user-history *ngIf="!showDrivers"></app-user-history>
        <app-user-search-driver *ngIf="showDrivers"></app-user-search-driver>
      </ng-container>
      <ng-template #newUser>
        <h1 class="user-message"> Create New User</h1>
      </ng-template>
    </div>
  </div>
</div>