.layout-container {
  height: 100vh;

  .body-menu {
    width: 200px;
    height: calc(100vh - 50px);
    padding: 10px;
    background: #e6e6f9;
  }

  .body-container {
    background: blue;
  }
}
