.list {
    height: calc(100vh - 108px);
    overflow-y: scroll;
    padding-bottom: 65px;
    padding-top: 10px;
}

.footer {
    position: sticky;
    bottom: 0;
    right: 0;
}
.cab-card {
    .content {
        margin: 10px 0;
        background: #f3f3f3;
        box-shadow: inset 3px 4px 16px -9px rgba(0, 0, 0, 0.44);
        cursor: pointer;
        border-radius: 6px;
        padding: 15px 5px 5px 5px;
        position: relative;
    }
    .car-type {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        width: 100px;
        background: #787c84;
        background-image: linear-gradient(to left top, #428eff, #2ca5ec, #0457ef, #1291ff, #0b29ff);
        color: #fff;
        text-align: center;
        border-radius: 10px;
        top: -8px;
        text-transform: uppercase;
    }
    // height: 200px;
    p {
        padding: 5px;
        color: #676464;
        border-bottom: 1px solid #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p:last-child {
        border: none !important;
        margin-bottom: 0;
    }
    .ans {
        p {
            color: #000;
        }
    }
}
.ride-off {
    color: red !important;
}
.ride-on {
    color: green !important;
}
