.list {
    height: calc(100vh - 167px);
    overflow-y: scroll;
    padding-bottom: 65px;

    .head {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        background: #eee;
        padding: 10px;
    }

    .b-b {
        border-bottom: 1px solid #eee;
        padding: 10px;

        &:hover {
            background: #ccc;
            cursor: pointer;
        }
    }

    .profile-pic {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

.footer {
    position: sticky;
    bottom: 0;
    right: 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    padding: 6px 10px;
    p {
        margin: auto;
        text-align: left;
        font-weight: 400;
        font-size: 20px;
        color: blue;
    }
    input {
        padding: 5px 0 5px 3px;
        border: 1px solid #ccc;

        &:focus {
            border: 1px solid #ccc;
        }

        border-radius: 2px;
    }

    button {
        margin-right: 10px;
        border-radius: 2px;
    }

    .search {
        background: #fff;
        border: 1px solid #ccc;
        border-left: none;
    }

    .filter {
        background: #a55f08;
        border: 1px solid #fff;
        color: #fff;
    }

    .add {
        background: green;
        border: 1px solid #fff;
        color: #fff;
    }
}

.filter {
    padding: 5px;

    input {
        padding: 5px 0 5px 3px;
        border: 1px solid #ccc;

        &:focus {
            border: 1px solid #ccc;
        }

        border-radius: 2px;
    }
}

.align-center {
    text-align: center;
}

.delete {
    color: red;
}

.block {
    color: blue;
}
