<div class="list container-fluid">
    <div class="row">
        <div class="col-3 cab-card" *ngFor="let item of availableList">
          <div class="content ripple">
              <div class="car-type">{{item.carType}}</div>
            <div class="row">
                <div class="col-5">
                    <p>Vehicle ID</p>
                </div>
                <div class="col-7 ans">
                    <p>#{{item.vehicleId}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Driver ID</p>
                </div>
                <div class="col-7 ans">
                    <p>#{{item.driverId}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Status</p>
                </div>
                <div class="col-7 ans">
                    <ng-container *ngIf="item.status===0; else offline">
                        <p class="ride-on">On-ride </p>
                    </ng-container>
                    <ng-template #offline>
                        <p class="ride-off">Off-ride </p>
                    </ng-template>
                </div>
            </div>
            <ng-container *ngIf="item.status===0; else showMessage">
                <div class="row">
                    <div class="col-5">
                        <p>Ride ID</p>
                    </div>
                    <div class="col-7 ans">
                        <p>#{{item.rideId}}</p>
                    </div>
                </div>
            </ng-container>
            <ng-template #showMessage>
                <div class="row">
                    <div class="col-5">
                        <p>Reason</p>
                    </div>
                    <div class="col-7 ans">
                        <p>{{item.offlineReason}}</p>
                    </div>
                </div>
            </ng-template>
          </div>
        </div>
    </div>

</div>
<div class="footer">
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>