<h1>Notification (5)</h1>

<ul>
    <li>
        <div class="row">
            <div class="col-2">
                <img src="/assets/images/profile-image.jpg" class="profile-pic" alt="">
            </div>
            <div class="col-10">
                <p>
                    <span>Reminder :</span> Adarsh need a cab in 1 hr assign a driver
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-2">
                <img src="/assets/images/profile-image.jpg" class="profile-pic" alt="">
            </div>
            <div class="col-10">
                <p>
                    <span>Reminder :</span> Adarsh need a cab in 1 hr assign a driver
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-2">
                <img src="/assets/images/profile-image.jpg" class="profile-pic" alt="">
            </div>
            <div class="col-10">
                <p>
                    <span>Reminder :</span> Adarsh need a cab in 1 hr assign a driver
                </p>
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col-2">
                <img src="/assets/images/profile-image.jpg" class="profile-pic" alt="">
            </div>
            <div class="col-10">
                <p>
                    <span>Reminder :</span> Adarsh need a cab in 1 hr assign a driver
                </p>
            </div>
        </div>
    </li>
    <li (click)="openNotification()">
        <div class="row">
            <div class="col-2">
                <img src="/assets/images/profile-image.jpg" class="profile-pic" alt="">
            </div>
            <div class="col-10">
                <p>
                    <span>Alert :</span> Sundhar Fitness Certification expires tomorrow
                </p>
            </div>
        </div>
    </li>
</ul>