h1 {
  text-align: center;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #585767;
}

.profile-pic {
  width: 70px;
  border-radius: 50%;
  height: 70px;
}


input,
select {
  width: 100%;
  padding: 10px 15px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-sizing: border-box;
}

label {
  width: 100%;
  display: block;
  margin: 10px 0 0 0;
}