<div class="container-fluid">
  <mat-grid-list cols="4" class="counts" rowHeight="150px">
    <mat-grid-tile>
      <mat-card class="top-card card-1">
        <h1>User <span>86M</span></h1>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
        <p> A millions of happiness</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="top-card card-2">
        <h1>Owner <span>36K</span></h1>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        <p> Biilionary Profitors</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="top-card card-3">
        <h1>Driver <span>49K</span></h1>
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        <p> Safe is festo</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="top-card card-4">
        <h1>Cars <span>73K</span></h1>
        <mat-progress-bar mode="determinate" value="86"></mat-progress-bar>
        <p> Luxuary Entry with Luxary Cars</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


  <div class="row">
    <div class="col-4">
      <div style="display: block;">
        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
    <div class="col-5">
      <button color="primary" class="find-btn" (click)="openDialog()" mat-button>
        <mat-icon>search</mat-icon> Search User
      </button>
    </div>
    <div class="col-3 availability">
      <mat-card class="a-card" (click)="showCars('available')">
        <h1>Availble Cars<span>700</span></h1>
      </mat-card>
      <mat-card class="a-card" (click)="showCars('onRide')">
        <h1>On-Ride Cars <span>600</span></h1>
      </mat-card>
      <mat-card class="a-card" (click)="showCars('offRide')">
        <h1>Off-Ride Cars <span>100</span></h1>
      </mat-card>
      <mat-card class="c-tarrif a-card">
        <img src="/assets/images/bank.png" alt="">
        <p class="label-name">Your Plan</p>
        <p class="plan-name">Gold</p>
        <p class="exp-date">Expires on 20 april 2023</p>
      </mat-card>
    </div>
  </div>
</div>