<div>
    <mat-card>
        <div class="tot">
            <div class="profile-pic">
                <img src="/assets/images/profile-image.jpg" alt="">
            </div>
            <div class="detail">
                <p>Name: <span> Shon Thomas</span></p>
                <p>Reg no: <span> 9987372773</span></p>
            </div>
        </div>
        <p>Vehicle: <span> TN 75 L6111</span></p>
        <p>Seat/Type: <span>5 sitters / AC</span></p>

        <p class="availabity">
            <span> 0.2km away</span>
            <span> Rating 4/5</span></p>

        <div class="book-term">
            <p class="rate">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star_outline
                </mat-icon>
            </p>
            <button mat-button (click)="openDialog()">Book now</button>
        </div>
    </mat-card>
</div>
<div>
    <mat-card>
        <div class="tot">
            <div class="profile-pic">
                <img src="/assets/images/profile-image.jpg" alt="">
            </div>
            <div class="detail">
                <p>Name: <span> Shon Thomas</span></p>
                <p>Reg no: <span> 9987372773</span></p>
            </div>
        </div>
        <p>Vehicle: <span> TN 75 L6111</span></p>
        <p>Seat/Type: <span>5 sitters / AC</span></p>

        <p class="availabity">
            <span> 0.2km away</span>
            <span> Rating 4/5</span></p>

        <div class="book-term">
            <p class="rate">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star_outline
                </mat-icon>
            </p>
            <button mat-button>Book now</button>
        </div>
    </mat-card>
</div>
<div>
    <mat-card>
        <div class="tot">
            <div class="profile-pic">
                <img src="/assets/images/profile-image.jpg" alt="">
            </div>
            <div class="detail">
                <p>Name: <span> Shon Thomas</span></p>
                <p>Reg no: <span> 9987372773</span></p>
            </div>
        </div>
        <p>Vehicle: <span> TN 75 L6111</span></p>
        <p>Seat/Type: <span>5 sitters / AC</span></p>

        <p class="availabity">
            <span> 0.2km away</span>
            <span> Rating 4/5</span></p>

        <div class="book-term">
            <p class="rate">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star_outline
                </mat-icon>
            </p>
            <button mat-button>Book now</button>
        </div>
    </mat-card>
</div>
<div>
    <mat-card>
        <div class="tot">
            <div class="profile-pic">
                <img src="/assets/images/profile-image.jpg" alt="">
            </div>
            <div class="detail">
                <p>Name: <span> Shon Thomas</span></p>
                <p>Reg no: <span> 9987372773</span></p>
            </div>
        </div>
        <p>Vehicle: <span> TN 75 L6111</span></p>
        <p>Seat/Type: <span>5 sitters / AC</span></p>

        <p class="availabity">
            <span> 0.2km away</span>
            <span> Rating 4/5</span></p>

        <div class="book-term">
            <p class="rate">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star_outline
                </mat-icon>
            </p>
            <button mat-button>Book now</button>
        </div>
    </mat-card>
</div>