<div class="rider">
  <div class="legends">
    <p> <span class="leg-can"></span> Cancelled Trip
    </p>
    <p> <span class="leg-succ"></span> Success Trip
    </p>
  </div>
  <mat-card class="accepted">
    <div class="row">
      <div class="col-6">
        <p class="source">
          <mat-icon>location_on</mat-icon> Thambaram, Chennai, India
        </p>
      </div>
      <div class="col-6">
        <p class="destination">
          <mat-icon>location_on</mat-icon> Guindy, Chennai, India
        </p>
      </div>
    </div>
    <div class="more-action">
      <p class="date">On March 18 2020 at 05:00 pm</p>
      <div class="actions">
        <button color="primary" mat-button>Copy Trip</button>
      </div>
    </div>
  </mat-card>
  <mat-card class="cancelled">
    <div class="row">
      <div class="col-6">
        <p class="source">
          <mat-icon>location_on</mat-icon> Thambaram, Chennai, India
        </p>
      </div>
      <div class="col-6">
        <p class="destination">
          <mat-icon>location_on</mat-icon> Guindy, Chennai, India
        </p>
      </div>
    </div>
    <div class="more-action">
      <p class="date">On March 17 2020 at 04:45 pm</p>
      <div class="actions">
        <button color="primary" mat-button>Copy Trip</button>
      </div>
    </div>
  </mat-card>
  <mat-card class="accepted">
    <div class="row">
      <div class="col-6">
        <p class="source">
          <mat-icon>location_on</mat-icon> Saithapet, Chennai, India
        </p>
      </div>
      <div class="col-6">
        <p class="destination">
          <mat-icon>location_on</mat-icon> Banglore Central, India
        </p>
      </div>
    </div>
    <div class="more-action">
      <p class="date">On Feb 27 2020 at 10:00 am</p>
      <div class="actions">
        <button color="primary" mat-button>Copy Trip</button>
      </div>
    </div>
  </mat-card>
  <mat-card class="accepted">
    <div class="row">
      <div class="col-6">
        <p class="source">
          <mat-icon>location_on</mat-icon> Banglore Central, India
        </p>
      </div>
      <div class="col-6">
        <p class="destination">
          <mat-icon>location_on</mat-icon> Whiteboard, Banglore, India
        </p>
      </div>
    </div>
    <div class="more-action">
      <p class="date">On March 18 2020 at 05:00 pm</p>
      <div class="actions">
        <button color="primary" mat-button>Copy Trip</button>
      </div>
    </div>
  </mat-card>
  <mat-card class="cancelled">
    <div class="row">
      <div class="col-6">
        <p class="source">
          <mat-icon>location_on</mat-icon> Thambaram, Chennai, India
        </p>
      </div>
      <div class="col-6">
        <p class="destination">
          <mat-icon>location_on</mat-icon> Guindy, Chennai, India
        </p>
      </div>
    </div>
    <div class="more-action">
      <p class="date">On March 17 2020 at 04:45 pm</p>
      <div class="actions">
        <button color="primary" mat-button>Copy Trip</button>
      </div>
    </div>
  </mat-card>
</div>