<div class="legends">
    <p> <span class="leg-can"></span> Cancelled Ride
    </p>
    <p> <span class="leg-succ"></span> Cancelled Ride
    </p>
  </div>
  <mat-card class="accepted">
    <p class="source">
      <mat-icon>location_on</mat-icon> Thambaram, Chennai, India
    </p>
    <p class="destination">
      <mat-icon>location_on</mat-icon> Guindy, Chennai, India
    </p>
    <p class="date">On March 18 2020 at 05:00 pm</p>
  </mat-card>
  <mat-card class="cancelled">
    <p class="source">
      <mat-icon>location_on</mat-icon> Guindy, Chennai, India
    </p>
    <p class="destination">
      <mat-icon>location_on</mat-icon> Thambaram, Chennai, India
    </p>
    <p class="date">On March 18 2020 at 08:00 am</p>
  </mat-card>
  <mat-card class="accepted">
    <p class="source">
      <mat-icon>location_on</mat-icon> Mambalam, Chennai, India
    </p>
    <p class="destination">
      <mat-icon>location_on</mat-icon> chrompet, Chennai, India
    </p>
    <p class="date">On Feb 27 2020 at 09:35 am</p>
  </mat-card>
  <mat-card class="accepted">
    <p class="source">
      <mat-icon>location_on</mat-icon> Thambaram, Chennai, India
    </p>
    <p class="destination">
      <mat-icon>location_on</mat-icon> Guindy, Chennai, India
    </p>
    <p class="date">On March 18 2020 at 05:00 pm</p>
  </mat-card>
  <mat-card class="accepted">
    <p class="source">
      <mat-icon>location_on</mat-icon> Guindy, Chennai, India
    </p>
    <p class="destination">
      <mat-icon>location_on</mat-icon> Thambaram, Chennai, India
    </p>
    <p class="date">On March 18 2020 at 08:00 am</p>
  </mat-card>
  <mat-card class="accepted">
    <p class="source">
      <mat-icon>location_on</mat-icon> Mambalam, Chennai, India
    </p>
    <p class="destination">
      <mat-icon>location_on</mat-icon> chrompet, Chennai, India
    </p>
    <p class="date">On Feb 27 2020 at 09:35 am</p>
  </mat-card>