h1 {
  font-size: 16px;
  text-align: center;
}

input {
  padding: 5px 0 5px 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 5px);

  &:focus {
    border: 1px solid #ccc;
  }
}

button {
  width: 100%;
  background: #ccc;
}
