<div class="container-fluid p-0">
  <div class="header">
    <input type="text" placeholder="search Here">
    <button class="search"> Search</button>
    <button mat-button class="filter">
      <mat-icon>dns
      </mat-icon>
      Apply Filter
    </button>
    <button mat-button class="add" [routerLink]="'/layout/users/detail'">
      <mat-icon>add</mat-icon>
      Add User
    </button>
  </div>
  <div class="list  container-fluid">
    <div class="row head">
      <div class="col-2 ">User ID</div>
      <div class="col-2 ">Name</div>
      <div class="col-2 ">Mobile</div>
      <div class="col-1 ">Gender</div>
      <div class="col-2 "> DOR</div>
      <div class="col-1 ">RCount</div>
      <div class="col-1 ">CCount</div>
      <div class="col-1 ">Action</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#91201822</div>
      <div class="col-2 ">Anantha Sayanan</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Male</div>
      <div class="col-2 "> 01-02-2019</div>
      <div class="col-1 ">20</div>
      <div class="col-1 ">2</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#91201822</div>
      <div class="col-2 ">Jhon</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Male</div>
      <div class="col-2 "> 01-02-2019</div>
      <div class="col-1 ">20</div>
      <div class="col-1 ">2</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#91201822</div>
      <div class="col-2 ">Rajtheep</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Male</div>
      <div class="col-2 "> 01-02-2019</div>
      <div class="col-1 ">20</div>
      <div class="col-1 ">2</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#91201822</div>
      <div class="col-2 ">Bavana</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Female</div>
      <div class="col-2 "> 01-08-2019</div>
      <div class="col-1 ">08</div>
      <div class="col-1 ">0</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#72201822</div>
      <div class="col-2 ">Manovin</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Male</div>
      <div class="col-2 "> 21-02-2019</div>
      <div class="col-1 ">2</div>
      <div class="col-1 ">0</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#91201822</div>
      <div class="col-2 ">Femin</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Male</div>
      <div class="col-2 "> 01-02-2019</div>
      <div class="col-1 ">20</div>
      <div class="col-1 ">2</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#91201822</div>
      <div class="col-2 ">Senthil Kumar</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Male</div>
      <div class="col-2 "> 01-02-2019</div>
      <div class="col-1 ">20</div>
      <div class="col-1 ">2</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#91201822</div>
      <div class="col-2 ">Victor</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Male</div>
      <div class="col-2 "> 01-02-2019</div>
      <div class="col-1 ">20</div>
      <div class="col-1 ">2</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 ">#91201822</div>
      <div class="col-2 ">Senthil Kumar</div>
      <div class="col-2 "> 876543211</div>
      <div class="col-1 ">Male</div>
      <div class="col-2 "> 01-02-2019</div>
      <div class="col-1 ">20</div>
      <div class="col-1 ">2</div>
      <div class="col-1 ">
        Delete
        <!-- <img class="profile-pic" src="/assets/images/profile-image.jpg" alt=""> -->
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>