<div class="rider">
  <mat-card class="">
    <div class="row">
      <div class="col-6">
        <p class="source">
          <mat-icon>location_on</mat-icon> Thambaram, Chennai, India
        </p>
      </div>
      <div class="col-6">
        <p class="destination">
          <mat-icon>location_on</mat-icon> Guindy, Chennai, India
        </p>
      </div>
    </div>
    <div class="more-action">
      <p class="date">On March 18 2020 at 05:00 pm</p>
      <div class="actions">
        <button color="primary" mat-button>Reschedule</button>
        <button color="warn" mat-button>Cancel Trip</button>
      </div>
    </div>
  </mat-card>
</div>