    mat-card {
      border: 2px solid #eee;
      margin-bottom: 11px;

      .more-action {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        p {
          margin: auto 0;
        }
      }

      p {
        vertical-align: middle;
        font-size: 12px;
        margin: auto 0;
      }

      mat-icon {
        vertical-align: middle;
      }

      .source {
        mat-icon {
          color: blue;
        }
      }

      .destination {
        mat-icon {
          color: red;
        }
      }

      .date {
        text-align: center;
        color: #7d7676;
      }
    }

    .rider {
      margin: 10px;
    }
