<div class="container-fluid p-0">
  <div class="header">
    <input type="text" placeholder="Search Vehicle">
    <button class="search"> Search</button>
    <button mat-button class="filter">
      <mat-icon>dns
      </mat-icon>
      Apply Filter
    </button>
  </div>
  <div class="list  container-fluid">
    <div class="row head">
      <div class="col-2">ID</div>
      <div class="col-2 ">Type</div>
      <div class="col-3 ">Driver ID</div>
      <div class="col-3 "> Driver Name</div>
      <div class="col-1 ">DRC</div>
      <div class="col-1 ">DCRC</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
      <div class="col-12 m-auto text-center">
        <p class="message">Fitness expires in 30 Days</p>
      </div>

    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
      <div class="col-12 text-center">
        <p class="message">Pollution Certificate expires in 10 Days</p>
      </div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
    </div>
    <div class="row b-b" (click)="openDetail()">
      <div class="col-2 m-auto">#212211</div>
      <div class="col-2 m-auto">Prime</div>
      <div class="col-3 m-auto">#9919292</div>
      <div class="col-3 m-auto">Sundhar Raj</div>
      <div class="col-1 m-auto text-center">200</div>
      <div class="col-1 m-auto text-center">10</div>
    </div>
  </div>
</div>
<div class="footer">
  <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>